@import 'tailwindcss';

html, body, #root {
  height: 100%;
  margin: 0;
}

body {
  min-height: 100%;
  background-color: #000 !important;
  color: #fff !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
